<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="~/assets/js/Dashboard.js">
</head>
@RenderBody()
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar">
            <h3>Admin Panel</h3>
            <ul class="nav">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Users</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Reports</a></li>
            </ul>
        </div>
       
    </div>
    <script src="~/assets/js/Dashboard.js"></script>
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- fontwesome js -->
    <script src="~/js/all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
